{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4"
         src="{% static 'images/piggy-bank.svg' %}"
         alt=""
         width="120" />
    <h1 class="display-5 fw-bold text-body-emphasis">RCH Billing</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Log in to submit your after-hours billing to the RCH Department of Anaesthesia and Pain Medicine
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{% url 'create_case' %}"
           type="button"
           class="btn btn-primary btn-lg px-4 gap-3">Add cases</a>
        <a href="{% url 'case_list' %}"
           type="button"
           class="btn btn-primary btn-lg px-4 gap-3">View my cases</a>
        <a href="{% url 'profile_list' %}"
           type="button"
           class="btn btn-primary btn-lg px-4 gap-3">Cathi's view</a>
      </div>
    </div>
  </div>
{% endblock content %}
